#!/bin/bash
# variables
file1=ch4.txt
file2=n2.txt
# funciones
function make_input_iast {
echo "ncomp 2
1.0 langmuir_freundlich_dualsite
1.0 langmuir_freundlich_dualsite
inter  2048
ffit? .true." > input
}

# main

cp ../gaiast.f90 ../Makefile ../png.gp .
make install
while read line ; do
 echo $line
 grep $line $file1 | sed 's/;/ /g' | awk '{print $4,$5}' > isoterma1.dat
 grep $line $file2 | sed 's/;/ /g' | awk '{print $4,$5}' > isoterma2.dat
 sort -nk1 isoterma1.dat > c
 mv c isoterma1.dat
 sort -nk1 isoterma2.dat > c
 mv c isoterma2.dat
 make_input_iast
 ./gaiast < input
 gnuplot png.gp
 mv iast.png ${line}.png
 mkdir $line
 mv input* *.png *.dat curves.txt $line
 rm $line/adsorcion.dat
done < list
rm gaiast.f90 Makefile png.gp
exit 0
