#!/bin/bash
# variables
file1=ch4.txt.all
file2=n2.txt.all
# funciones
function make_input_iast {
echo "physically_constrained
ncomp 2
1.0 langmuir_sips
1.0 langmuir_sips
inter  4096
ffit? .true." > input
}

# main
make install
while read line ; do
 echo $line
 grep $line $file1 | sed 's/;/ /g' | grep "$line " | awk '{print $4,$5}' > isoterma1.dat
 grep $line $file2 | sed 's/;/ /g' | grep "$line " | awk '{print $4,$5}' > isoterma2.dat
 sort -nk1 isoterma1.dat > c
 mv c isoterma1.dat
 sort -nk1 isoterma2.dat > c
 mv c isoterma2.dat
 make_input_iast
 ./gaiast < input
 gnuplot png.gp
 mv iast.png ${line}.png
 mkdir $line
 mv input* *.png *.dat curves.txt $line
 rm $line/adsorcion.dat
done < list
make clean
exit 0
